@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	text-decoration: none;
}

.vertical-line {
	width: 0.25rem;
	height: 70rem;
	background: linear-gradient(
		to bottom,
		transparent 0%,
		white,
		transparent 100%
	);
	/* margin: 50px auto; */
	position: absolute;
	left: 50% ;
}
